<h2>Cadastro Aluno</h2>

<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-12" for="nome">Nome:</label>
    <div class="col-12">
      <input type="nome" [ngClass]="validacaoCss('nome')" class="form-control" id="nome" name="nome" [formControl]="formulario.get('nome')">
    </div>
  </div>
  <div class="form-group ">
    <label class="control-label col-12" for="sobrenome">Sobrenome:</label>
    <div class="col-12">
      <input type="sobrenome" [ngClass]="validacaoCss('sobrenome')" class="form-control" id="sobrenome" name="sobrenome" [formControl]="formulario.get('sobrenome')">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-12" for="curso">Curso:</label>
    <div class="col-12">
      <input type="curso" [ngClass]="validacaoCss('curso')" class="form-control" id="curso" name="curso" [formControl]="formulario.get('curso')">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-12" for="email">Email:</label>
    <div class="col-12">
      <input type="email" [ngClass]="validacaoCss('email')" class="form-control" id="email" name="email" [formControl]="formulario.get('email')">
    </div>
  </div>
  <div class="form-group">        
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
    </div>
  </div>
</div>
