<app-modal #modal titulo="Busca Professor">
  <div body>

    <div class="col-12 input-group">
      <input #input type="text" class="form-control" id="buscar" name="buscar" placeholder="Nome do Professor">
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" (click)="buscar(input.value)">Buscar</button>
      </div>
    </div>

    <hr>

    <table class="table table-striped" *ngIf="professores">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
        
          <th scope="col">Departamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let professor of professores">
          <td>  <button type="button" class="btn btn-sm btn-primary" (click)="selecionar(professor)">Selecionar</button></td>
          <td>
            {{ professor.id }}
          </td>
          <td>{{ professor.nome }}</td>
        
          <td>{{ professor.departamento }}</td>
        </tr>
      </tbody>
    </table>
   
  </div>
  <!-- <div footer>
    <button type="button" class="btn btn-primary" (click)="selecionar()">Selecionar</button>
  </div> -->
</app-modal>